<!-- whole page is wrapped in sidenav container -->
<mat-sidenav-container fullscreen>

  <!-- sidenav -->
  <mat-sidenav #sidenav mode="side">
    <h1>Sidenav</h1>
    <mat-divider></mat-divider>
    <div><button mat-button>Sidenav Item 1</button></div>
    <div><button mat-button>Sidenav Item 2</button></div>
    <div><button mat-button>Sidenav Item 3</button></div>
    <div><button mat-button>Sidenav Item 4</button></div>
    <div><button mat-button>Sidenav Item 5</button></div>
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content>

    <!-- top nav -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- logo -->
        <button mat-button>
          <mat-icon>cloud</mat-icon>
          <span>AWS Cloud Management</span>
        </button>

        <!-- navbar menu buttons -->
        <button mat-button>Home</button>
        <button mat-button>Environments</button>
        <button mat-button>About</button>

        <!-- spacer -->
        <div class="flex-spacer"></div>

        <!-- user account menu -->
        <mat-menu #userAccountMenu>
          <button mat-menu-item>User Account Item 1</button>
          <button mat-menu-item>User Account Item 2</button>
          <button mat-menu-item>User Account Item 3</button>
        </mat-menu>

        <!-- user account icon -->
        <button mat-button [matMenuTriggerFor]="userAccountMenu">
          <mat-icon>account_circle</mat-icon>
          <span>You</span>
        </button>

      </mat-toolbar-row>
      <!--<mat-toolbar-row>
        <span>Row 2</span>

        <mat-menu #appMenu>
          <button mat-menu-item>Menu Item 1</button>
          <button mat-menu-item>Menu Item 2</button>
          <button mat-menu-item>Menu Item 3</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="appMenu">Menu</button>
      </mat-toolbar-row>-->
    </mat-toolbar>

    <!-- button to toggle sidenav -->
    <button mat-raised-button (click)="sidenav.toggle()">Toggle Sidenav</button>

  </mat-sidenav-content>

</mat-sidenav-container>

<router-outlet></router-outlet>
