@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar-icon { height: 25px; margin-bottom: 5px; margin-right: 5px; }
.flex-spacer { flex-grow: 1; }
