@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%; }

mat-sidenav.mat-drawer { background-color: #3f51b5; color: white; display: flex; }
mat-sidenav.mat-drawer > div.mat-drawer-inner-container { display: flex; flex-direction: column; }

.navbar-icon { height: 25px; margin-bottom: 3px; margin-right: 4px; }
.flex-spacer { flex-grow: 1; }
.flex-column { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
